@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
 

body {
	font-size: 10px;
	font-family: "Montserrat", sans;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #2f2f2f;
	color: #f1f1f1;
}

.corner-button {
	font-family: "Montserrat", sans;
	letter-spacing: 0.02rem;
	cursor: pointer;
	background: transparent;
	border: 0.5rem solid currentColor;
	padding: 1.5rem 2rem;
	font-size: 30px;
	color: #f1f1f1;
	position: relative;
	transition: color 0.3s;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}
.corner-button:hover {
	color: #f1f1f1;
}
.corner-button:hover::before {
	width: 0;
}
.corner-button:hover::after {
	height: 0;
}
.corner-button:active {
	border-width: 0.25rem;
}
.corner-button::before, .corner-button::after {
	content: '';
	position: absolute;
	background: #2f2f2f;
	z-index: -1;
	transition: all 0.3s;
}
.corner-button::before {
	width: calc(100% - 3rem);
	height: calc(101% + 1rem);
	top: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
}
.corner-button::after {
	height: calc(100% - 3rem);
	width: calc(101% + 1rem);
	left: -0.5rem;
	top: 50%;
	transform: translateY(-50%);
}
a:visited { 
	text-decoration: none; 
	color: #f1f1f1;; 
   }
 .container {
	 margin-top: 50px;
	 margin-left: auto;
	 margin-right: auto;
	width: 100%;
	 color:#f1f1f1;
	 font-size: 14px;
	 font-family: "Montserrat", sans;
}
.projects {

	

	color:#f1f1f1;
	font-size: 50px;
	font-family: "Montserrat", sans;
	align-items: center;
	text-align: center;
}
.heading{
	font-size: 30px;
	margin-left: 15px;
	margin-top: -20px;
}
.heading2{
	font-size: 50px;
	margin-left: 15px;
	margin-top: -20px;
	align-items: center;
	text-align: center;
}
#by-line {
	width: 30%;
	padding-bottom: 1px;     
	padding-left: 3px;
	margin-left: 15px;
	font-size: 85%;
	border-bottom: 1px solid #757575;             
	
  }
  #weather-form {
	margin-top: 100px;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
  }
  
  #weather-form label {
	display: block;
	margin-bottom: 10px;
  }
  
  #weather-form input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	padding: 10px;
	width: 200px;
  }
  
  #weather-form button[type="submit"] {
	background-color: #3f51b5;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
  }
  
  #weather-form button[type="submit"]:hover {
	background-color: #12a4bb;
  }
  
  /* Weather container styles */
  #weather-container {
	/*background-image: url('https://i.imgur.com/XYu8BgD.jpeg');
	background-position: center;
	background-size: cover;
	animation-name: weather-animation;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;*/
	color: #4B515D;
	display: none;
	width: 500px;
	margin: 0 auto;
	margin-top: 50px;

	

  }
  @keyframes weather-animation {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
  }
  #city,
  #time {
	font-size: 18px;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 150px;
	color: #dbd9d9;
  }
  
  #description {
	font-size: 18px;
	color: #dbd9d9;

	text-align: center;
	
  }
  
  #temperature {

	font-size: 40px;
	
	align-items: center;
	text-align: center;
	font-weight: bold;
  }
  
  #icon {
	display: block;
	margin: 0 auto;
	height: 80px;
	margin-bottom: 20px;

  }
  
  #outfit {
	font-size: 45px;
	margin-top: 100px;
	color: #dbd9d9;
	font-weight: bold;
	
  }
  